.main-container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
    
}



.productContainer{
    width: 60%;
    max-width: 900px;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
  border: 3px solid#15cdfc;
   box-shadow: 20px 20px 60px #15cdfc, -20px -20px 60px #15cdfc;
}

.productImage {
    float:left; 
    width: 45%;
   height: 400px;
}
.productImage img{
    
    height: 100%;
  width:100%;
  object-fit:contain;
}

.describtionContainer {
float: right;
    background-color: #6de0fd;
    height: 400px;
    width: 55%;
}
.addContainer {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cntBtn {
  margin-left: 10px;
  margin-right: 10px;
  background: #2195f3;
  color: white;
  padding: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
